<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Reg & Login</title>

    <!-- Bootstrap core CSS-->
  <link href="bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="sb-admin.css" rel="stylesheet">

  </head>
  <body style="background-color: springgreen;">
  <div class="container">
      <h1>{{title}}</h1>
      <br><br><br><br>
     {{{body}}}
    
  </div>
</body>


</html>
