<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Account</li>
      </ol>
      <!-- Example DataTables Card-->
      
         </div>
          



            <div class="card card-register mx-auto mt-5">
    
    <div class="card-body">
        <form action="/addAccount/addAccount" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-7">
                        <label for="exampleInputName">Account name</label>
                        <input name="name" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Example EVC-PLUS, Salaam bank, Premier bank" required='true'>
                    </div>
                    <div class="col-md-7">
                        <label for="exampleInputName">Description</label>
                        <input name="Desc" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Account No or Phone No" required='true'>
                    </div>
                    
                    
                </div>
            </div>
             <button type="submit" class="btn btn-primary btn-block">Add</button>
        </form>
    </div>
</div>







          
        <div class="card-body">
          <div class="table-responsive">
            
          </div>
        
    </div>